* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 160, 133);
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.a {
    font-size: 25px;
    padding: 10px 0;
}

.random {
    text-decoration: none;
    color: white;
}

.detail {
}

.search {
    border-radius: 50px;
    outline-style: none;
    background-color: rgb(22, 160, 133);
    color: white;
}

input {
    outline-style: none;
    padding-left: 25px;
    font-size: 20px;
    color: white;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 4px #f39c12;
    background-color: rgb(22, 160, 133);
    cursor: pointer;

}

.hide {
    display: none;
}

.active {
    width: 320px;
    border-radius: 50px;
    height: 50px;
    border: solid 4px #f39c12;
    background-color: rgb(22, 160, 133);
    outline-style: none;
    cursor: text;
}

.cross {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 285px;
    margin-top: -38px;
    cursor: pointer;
}
.name{
    font-size: 20px;
    color: white;
}
.description{
    font-size: 16px;
    color: white;
}
