.header {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}
a {
    padding-right: 14px;
    text-decoration: none;
    color: #666666;
}
.gif {
    display: flex;
    justify-content: center;
}
.gif img {
    width: 500px;
    height: 180px;
    padding-top: 50px;
    padding-bottom: 25px;
}
.search {
    display: flex;
    justify-content: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.find {
    flex: 10;
    padding: 10px;
    outline: none;

}
.find:focus{
  border-color:red;
  border-style: solid;
  border-width: 1px;
}

.click {
    flex: 1;
    /*padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;*/
    background-color: white;

}


.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 12px;
}
